<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		Driver Parameters for installed web browsers
		C = Chrome
		CH = Chrome Headless
		F = Firefox
		FH = Firefox Headless
		E = Microsoft Edge
		-->
		<add key="Browser" value="C" />
		<add key="Product" value="Hudl_FC" />
		<add key="Environment" value="Test" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>